* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    height: 1000px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 15% 0 15%;
    padding: 3%;
}

.scene,
canvas {
    position: absolute;
    width: 500px;
    height: 500px;
}

.scene{
    border: #000 solid 1.5px;
    border-radius: 8px;
}

.lorem {
    margin: 2rem;
}
